<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE FOR</title>
</head>
<body>
    <script src="script.js" type="module"></script>

    <div id="app">
        <ul>
            <li v-for="listItem in array">{{ listItem }}</li>
        </ul>
        <ul>
            <li v-for="numbers in 10">{{ numbers }}</li>
        </ul>
    </div>
</body>
</html>